@font-face {
  font-family: 'Candara';
  src: url('../fonts/candara.eot');
  src: url('../fonts/candara.eot?#iefix') format('embedded-opentype'),
    url('../fonts/candara.woff') format('woff'),
    url('../fonts/candara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight.eot');
  src: url('../fonts/RobotoLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoLight.woff') format('woff'),
    url('../fonts/RobotoLight.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.eot');
  src: url('../fonts/RobotoBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoBold.woff') format('woff'),
    url('../fonts/RobotoBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


