@import './common.scss' ;

$control-width: 60px;
$controls-prevnext-size: 40px;
$controls-indicator-size : 1.75rem;
$controls-indicator-color : #6c23b6;
$controls-indicator-active: #2387b6;

.page-main__projects{
  max-height: 75vw;
  overflow: hidden;
  position: relative;
  @include flexbox;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;

}

.main-projects{

  .main-projects__slider{
    max-height: 600px;
    overflow: hidden;

  }

  .main-projects__slider, .tns-outer{
    @include border-box-sizing;
    position: relative;

    .slider__item{
      @include inline-flexbox;
      @include border-box-sizing;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      padding: 0 $control-width;
      background-color: #fff;
      max-height: 100%;

    }

    // Controls and indicators styling

    .tns-controls{
      position: absolute;
      top: calc( 50% - 0.5*#{ $controls-prevnext-size } );
      width: 100%;
      @include pf-slider-prevnext-z;
      @include flexbox;
      flex-flow: row wrap;
      justify-content: space-between;
      @include cancel-outline;

      button{
        @include cancel-outline;
        @include pf-slider-prevnext-z;
        color: transparent;
        width: $controls-prevnext-size;
        height: $controls-prevnext-size;
        background-color: orange;
        border-radius: 50%;
        position: relative;
        border:0;

        &::before{
          position: absolute;
          @include flexbox;
          align-items: center;
          justify-content: center;
          left: 0; top: -2px;
          height: 100%; width:100%;
          text-align: center;
          font-size: 1.5em; font-weight: bold;
          content: " ";
          color: #fff;
        }
      }

      button[ data-controls=prev ]{
        &::before{
          content: "<";
        }
      }

      button[ data-controls=next ]{
        &::before{
          content: ">";
        }
      }

    }

    .tns-nav{
      position: absolute;
      bottom: 10px;
      width: 80%;
      left: calc( 7.5% +  1.0*#{ $control-width } );
      min-height: 30px;
      @include flexbox;
      flex-flow: row wrap;
      align-items: center; justify-content: center;
      // padding: 5px calc( 1.0*#{ $control-width } );

      button{
        @include inline-flexbox;
        @include pf-slider-prevnext-z;
        @include cancel-outline;
        width: $controls-indicator-size;
        height: $controls-indicator-size;
        margin-right: 0.5rem; margin-bottom: 0.5rem;
        border: 2px solid #fff;
        border-radius: 15%;
        background-color: $controls-indicator-color;
        transition: background 0.25s linear;
      }

      button.tns-nav-active, button:hover, button:focus, button:active{
        background-color : $controls-indicator-active;
      }

      button.tns-nav-active:hover{
        background-color: #d13c1a
      }

    }


  }

  $descwrapper-height : 2.2rem;
  $descwrapper-button-size : 1.4rem;
  $min-helpers-width: 250px;

  .slider__show-desc-wrapper{
    position: absolute;
    top: 0px; left: $control-width;
    height: $descwrapper-height;
    width: calc( 100% - 2*#{ $control-width } - 1px );
    min-width: $min-helpers-width;
    padding: 4px 1.125%;
    @include flexbox;
    @include border-box-sizing;
    justify-content: space-between;
    align-items: center;
    background-color: $darktheme-bgcolor;
    color: $darktheme-forecolor;
    text-transform: uppercase;

    &::after{
      content: " ";
      @include inline-flexbox;
      width: $descwrapper-button-size; height: $descwrapper-button-size;
      border-radius: 50%;
      border: 2px solid $darktheme-forecolor;
      background-color: #dd1010;
    }

    .slider-show-desc__button{
      @include cancel-outline;
      @include inline-flexbox;
      font-weight: bold;
      height: 60%;
      background-color: $darktheme-bgcolor;
      color: $darktheme-forecolor;
    }

  }

  .slider__slider-hint-wrapper{
    position: absolute;
    bottom: 0px; right: $control-width;
    height: $descwrapper-height;
    width: calc( 100% - 2*#{ $control-width } - 1px );
    background-color: $darktheme-bgcolor;
    color: $darktheme-forecolor;
    font-weight: bold;
  }

  //  Hiding hint blocks for desktop version
  .slider__show-desc-wrapper,
  .slider__slider-hint-wrapper {
    display: none;
  }

}

.slider-slide{

  .slider-slide__image{

    position: relative;

    & img{
      max-height: 100%;
      max-width: calc( 100% - 0.5#{ $control-width } );
    }

    & a{
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
    }

  }

  .slider-slide__description{
    position: absolute;
    left: $control-width; top: 0;
    @include inline-flexbox;
    @include font-roboto;
    @include border-box-sizing;
    background-color: $darktheme-bgcolor;
    color: $darktheme-forecolor;
    padding: 40px 40px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    width: calc( 50% - #{ $control-width } );
    height: 100%;

    .slide-description__header {
      @include pf-heading;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    p{
      margin-top: 1em; margin-bottom: 1em;
    }

    .project-features{
      @include border-box-sizing;

      & li {
        @include border-box-sizing;
        background-image: url( ../img/checkmark-icon.svg );
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: left center;
        padding-left: 30px;
        margin-top: 10px; margin-bottom: 10px;

      }

    }

    .slide-description__notifier{
      width: 40%;
      @include auto-margins;
      @include border-box-sizing;
      padding: 10px;
      border: 2px solid orange;
      text-align: center;
      font-weight: bolder;
      background-color: #6c23b6;
    }

  }

}



