@import './common.scss' ;

$control-width: 0px;
$controls-prevnext-size: 0px;
$controls-indicator-size : 1.75rem;
$controls-indicator-color : #6c23b6;
$controls-indicator-active: #2387b6;

.page-main__projects{
  min-height: 80vw;
  overflow: hidden;
  position: relative;
  @include flexbox;
  flex-flow: row wrap;
  align-items: center;
  justify-content: stretch;

}

.main-projects{

  .main-projects__slider{
    max-height: 600px;
    overflow: hidden;

  }

  .main-projects__slider, .tns-outer{
    @include border-box-sizing;
    position: relative;

    .slider__item{
      @include inline-flexbox;
      @include border-box-sizing;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      padding: 0 $control-width;
      background-color: #fff;
      max-height: 100%;

    }

    // Controls and indicators styling

    .tns-controls{

      display: none !important;

    }

    .tns-nav{
      display: none;
    }


  }


  $descwrapper-height : 2.2rem;
  $descwrapper-button-size : 1.4rem;
  $min-helpers-width: 250px;

  .slider__show-desc-wrapper{
    position: absolute;
    top: 0px; left: $control-width;
    height: $descwrapper-height;
    width: calc( 100% - 2*#{ $control-width } - 1px );
    min-width: $min-helpers-width;
    padding: 4px 15px;
    @include flexbox;
    @include border-box-sizing;
    justify-content: space-between;
    align-items: center;
    background-color: $darktheme-bgcolor;
    color: $darktheme-forecolor;
    text-transform: uppercase;

    &::after{
      content: " ";
      @include inline-flexbox;
      width: $descwrapper-button-size; height: $descwrapper-button-size;
      border-radius: 50%;
      border: 2px solid $darktheme-forecolor;
      background-color: #dd1010;
    }

    .slider-show-desc__button{
      @include cancel-outline;
      @include inline-flexbox;
      font-weight: bold;
      height: 60%;
      background-color: $darktheme-bgcolor;
      color: $darktheme-forecolor;
    }

  }

  .slider__slider-hint-wrapper{
    @include border-box-sizing;
    @include flexbox;
    @include flexbox-centered-content;
    position: absolute;
    bottom: 0px; right: $control-width;
    height: $descwrapper-height;
    width: calc( 100% - 2*#{ $control-width } + 1px );
    background-color: $darktheme-bgcolor;
    color: $darktheme-forecolor;
    padding: 0px 15px;
    font-weight: bold;
    text-align: center;
  }

}

.slider-slide{

  .slider-slide__image{

    position: relative;

    & img{
      max-height: 100%;
      max-width: calc( 100% - 0.5#{ $control-width } );
    }

    & a{
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
    }

  }

  .slider-slide__description{
    position: absolute;
    left: $control-width; top: 0;
    @include inline-flexbox;
    @include font-roboto;
    @include border-box-sizing;
    background-color: $darktheme-bgcolor;
    color: $darktheme-forecolor;
    padding: 0;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    width: calc( 100% - 2*#{ $control-width } );

    height: 0px; overflow: hidden;


    .slide-description__header {
      @include pf-heading-mobile;
      padding: 0.4rem;
    }

    p{
      margin-top: 1em; margin-bottom: 1em;
    }

    .project-features{
      @include border-box-sizing;

      & li {
        @include border-box-sizing;
        background-image: url( ../img/checkmark-icon.svg );
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: left center;
        padding-left: 30px;
        margin-top: 10px; margin-bottom: 10px;

      }

    }

    .slide-description__notifier{
      display: none;
    }

  }

}

.page-main__projects {

  &.reveal-description .slider-slide.tns-slide-active .slider-slide__description{
    transition: height 0.4s;
    height: 100%;
  }

}






