@font-face {
  font-family: 'Futura BookC';
  src: url('../fonts/futurabookc.eot');
  src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futurabookc.woff') format('woff'),
    url('../fonts/futurabookc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Futura BookC';
  src: url('../fonts/futurabookc-italic.eot');
  src: url('../fonts/futurabookc-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futurabookc-italic.woff') format('woff'),
    url('../fonts/futurabookc-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('../fonts/futurademic.eot');
  src: url('../fonts/futurademic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futurademic.woff') format('woff'),
    url('../fonts/futurademic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('../fonts/futurademic-italic.eot');
  src: url('../fonts/futurademic-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futurademic-italic.woff') format('woff'),
    url('../fonts/futurademic-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Yeseva One';
  src: url('../fonts/YesevaOne-Regular.eot');
  src: url('../fonts/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YesevaOne-Regular.woff') format('woff'),
    url('../fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-BoldIt.eot');
  src: url('../fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
    url('../fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
