@import './common-desktop.scss';


$default-margin: 20px;

.page-footer {
  background-color: $dark-theme-bgcolor;
  background-image: none;
  color: $dark-theme-forecolor;
  @include default-font;
  @include border-box-sizing;

  & .footer-container {
    @include border-box-sizing;
    @include flexbox;
    align-items: center;
    justify-content: stretch;
  }

  & .footer-container .page-footer-top {
    @include flexbox;
    @include flexbox-space-between;
    @include border-box-sizing;
    width: 100%;
    margin-bottom: 1px;
    min-height: 83px;
    padding-left: $header-instagram-width;
    padding-right: 100px;

    & .page-footer-title,
    & .page-footer-nav,
    & .page-footer-phone,
    & .page-footer-callrequest {
      @include inline-flexbox;
      text-transform: uppercase;
    }

    & .page-footer-title {
      justify-self: flex-start;
      float: left;
    }

    & .page-footer-title,
    & .page-footer-phone {
      color: $dark-theme-highlight-forecolor;
      @include font-demic;
    }

    & .page-footer-callrequest {
      @include border-box-sizing;
      color: $dark-theme-forecolor;
      background-color: $dark-theme-button-bgcolor;
      @include font-demic;
      @include submit-button;
      font-size: 13px;
      line-height: 15px;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
      border-radius: 2px;
      min-width: 161px;
      min-height: 37px;

    }


      & .page-footer-nav-menu{
      @include inline-flexbox;

      & .nav-menu-item a{
        color: $dark-theme-forecolor;
        margin-right: 47.09px;
      }

      & .nav-menu-item.active a,
      & .nav-menu-item:hover a,
      & .nav-menu-item:active a,
      & .nav-menu-item.focus a {
        color: $dark-theme-highlight-forecolor;
      }

    }

  }

}
