@import './common-mobile.scss';

$plate-text-width: 85.67%;

.main-our-team{
  @include border-box-sizing;
  position: relative;
  padding: 0px 18px;
  background-color: $dark-theme-bgcolor;



  &::before {
    position: absolute;
    display: inline-block;
    content: " ";
    top: 0; left: 0;
    height: 46%; width: 100%;
    background-color: $dark-theme-bgcolor;
  }
}

.our-team {

  .our-team-adv{
    @include adv-block;
    &-heading{
      @include correct-z;
      color: $dark-theme-forecolor;
    }

    &-image{
      @include correct-z;
    }
  }

  .our-team-text{
    @include oct-text;
    padding: 0px 0px;
    @include correct-z;

    & br {
      content: ' ';

      &::after{
        content: ' ';
      }

    }

    &::before{
      top: -17.29px;
    }

  }

  .our-team-text:nth-child( 2 ){
    color: $dark-theme-forecolor;
    margin-top: 23.47px;
    margin-bottom: 73.53px;

      &::before{
        display: none;
      }

    }

  .our-team-text:nth-child( 4 ){
    display: none;
  }

  .our-team-wrapper {

    @include plates-wrapper;
    @include auto-margins;
    width: 100%;

  }

  .our-team-member{
    @include plates-plate;
    @include correct-z;
    width: 100%;
    margin-bottom: 89px;
    padding-left: 35px;

    .team-member-glyph {
      position: absolute;
      @include inline-flexbox;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 70px; height: 70px;
      top: -35px; left: 0;
      background-color: $dark-theme-button-bgcolor;
      box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
    }

    .team-member-image {
      @include plate-image;
      width: 100%;
      overflow-y: hidden;

      & img{
        width: 100%;
        height: auto;
      }

    }

    .team-member-text-block{
      @include plate-features-list;
      @include auto-margins;
      @include border-box-sizing;
      padding: 20px 22px;
      padding-bottom: 24px;
      width: $plate-text-width;
    }

    .team-member-name{
      margin-bottom: 19px;
      padding: 0px 0px;
      text-align: center;
    }

    .team-member-position{
      text-align: center;
    }

    .team-member-experience{
      @include font-yeseva;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      @include auto-margins;
      width: $plate-text-width;
      @include border-box-sizing;
      padding: 14px 0px;
      background: $dark-theme-button-bgcolor;
      transition: 0.35s all linear;

      &:hover,
      &:focus,
      &:active {
        background-color: #33a;
        color: $dark-theme-forecolor;
      }
    }

  }

}
